[package]
name = "core"
version = "0.1.0"
edition = "2021"

[lib]
name = "core"
path = "src/lib.rs"

[dependencies]
log.workspace = true
obfuse.workspace = true
hudhook.workspace = true
anyhow.workspace = true
serde.workspace = true
serde_json.workspace = true
